DATABASE_URL="mysql://username:password@yourhost:3306/yourDB"
DATABASE_USER="username"
DATABASE_PASSWORD="password"
DATABASE_NAME="yourdb"
DATABASE_HOST="yourhost"
DATABASE_PORT=3306


JWT_SECRET="secret"

JWT_REFRESH="secret"